{% extends "layout.html" %}

{% block content %}
<h1>Edit Pizza</h1>

<form method="post" action="{{ url_for('pizza_edit', pizza_id=pizza.id) }}">
    <div>
        <label for="name">Name</label>
        <input id="name" name="name" type="text" value="{{ pizza.name }}" required>
    </div>

    <div>
        <label for="size">Size</label>
        <input id="size" name="size" type="text" value="{{ pizza.size }}" required>
    </div>

    <button class="btn">Update</button>
</form>

<a href="{{ url_for('pizza_index') }}">back to list</a>

<form method="post"
      action="{{ url_for('pizza_delete', pizza_id=pizza.id) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button class="btn">Delete</button>
</form>
{% endblock %}

